page-patient {
  .labelTable{
    padding-top: 20px;
    text-align: center;
  }
  .image{
    height: 200px;
    width: 200px;
    margin-top: 60px;
    margin-bottom: 23px;
  }
  .iconAandS{
    color: #888888;
    zoom: 15;
  }
  ion-icon::before{
    padding: 0;
  }
  button{
    background-color: transparent;
    padding-top: 10px;
  }
}
