page-form-demmi {
  //patient and icons for additional information in the same row
  .patient{
    max-width: 70%;
  }
  .information{
    max-width: 30%;
  }
  //icons for additional information in the assessments-forms
  .additional-information{
    background-color: transparent;
  }
  .ion-md-trending-up:before,
  .ion-md-document:before,
  .ion-md-pie:before,
  .ion-md-briefcase:before{
    zoom: 2;
    padding-bottom: 5px;
  }
  .ionTop{
    text-align: right;
  }
  //title row of the table
  .titleRow{
    height: 50px;
    padding-top: 3px;
    margin-top: 50px;
  }
  .category{
    font-weight: bold;
    font-size: large;
  }
  .transparent{
    background-color: transparent;
    color: black;
    font-size: medium;
  }
  .ion-item{
    background-color: transparent;
  }
  img{
    height: 30%;
    width: 30%;
  }
  .darkGrey{
    color: white;
    background-color: #9f9f9f;
    text-align: -webkit-center;
    font-size: medium;
  }
  .lightGrey{
  color: black;
  background-color: #f3f3f3;
  }
  .normalGrey{
  color: black;
  background-color: #e7e7e7;
  }
  .middleGrey{
  color: black;
  background-color: #dbdbdb;
  }
  .ion-label{
  background-color: transparent;
  }
  .button-inner{
  background-color: transparent;
  }
  .number{
    max-width: 3%;
    padding-top: 12px
  }
  .option{
    max-width: 22%;
    text-align: center;
  }
  .aid{
    max-width: 30%;
  }
  //size of the alert message for the instruction
  .instruction{
    min-height: 450px;
    min-width: 900px;
    max-height: 100%;
  }

}
