page-form-demmi {
  //there is a left padding
  .paddingLeft{
    padding-left: 16px;
  }

  //how the category is shown
  .category{
    font-weight: bold;
    font-size: large;
  }
  //text of the category
  .text{
    padding-top: 10px;
  }

  //-------TABLE-------
  //table header of the table
  .titleRow{
    height: 30px;
    padding-top: 3px;
  }
  //table header in dark grey
  .darkGrey{
    color: white;
    background-color: #9f9f9f;
    text-align: -webkit-center;
    font-size: medium;
  }
  //for zero points
  .lightGrey{
    color: black;
    background-color: #f3f3f3;
  }
  //for one point
  .normalGrey{
    color: black;
    background-color: #e7e7e7;
  }
  //for two points
  .middleGrey{
    color: black;
    background-color: #dbdbdb;
  }
  //this cell is shown with a transparent background
  .transparent{
    background-color: transparent;
    color: black;
    font-size: medium;
  }
  //number of task in table
  .number{
    max-width: 3%;
    padding-top: 12px
  }
  //cell of radio button in table
  .option{
    max-width: 22%;
    text-align: center;
  }

  //Dropdown & Bemerkungen
  .aid{
    padding-top: 50px;
  }
  .labelForInput{
    max-width: 15%;
  }
  .dropdownLabel{
    max-width: 30%;
  }

  //text input without margin
  .text-input-md{
    margin: 0;
  }

  //how the information circle is placed
  .ion-md-information-circle:before{
    padding: 0 0 0 12px;
  }

  //table without padding
  .item-md.item-block .item-inner{
    padding-right: 0;
  }

  //radio button with right padding
  .buttonInnerRight{
    padding-right: 8px;
  }

}
