<ion-header>
  <navbar title="Formular DEMMI" subTitle="de Morton Mobility Index"
          [workflowParameters]="workflowParameters"
          (searchbarVisibilityChange)="onSearchbarVisibilityChange($event)"
          [isSearchVisible]="false"
          popoverType="MoreNavToPatientDetailPage">
  </navbar>
</ion-header>

<ion-content padding>
  <ion-grid><ion-row><ion-col class="patient">
  <patient-selector [patient]="patient"></patient-selector>
  </ion-col>
  <!-- Four icons for additional information -->
  <ion-col class="information">
  <ion-item class="ionTop">
    <button (click)="navToEvaluationDemmi()" class="additional-information">
      <ion-icon name="trending-up"></ion-icon>
      <span><br>Verlauf</span>
    </button>
    <button (click)="popupInstruction()" class="additional-information">
      <ion-icon name="document"></ion-icon>
      <span><br>Instruktion</span>
    </button>
    <button (click)="popupNormwerte()" class="additional-information">
      <ion-icon name="pie"></ion-icon>
      <span><br>Normwerte</span>
    </button>
    <button (click)="popupMaterial()" class="additional-information">
      <ion-icon name="briefcase"></ion-icon>
      <span><br>Material</span>
    </button>
  </ion-item>
  </ion-col>
  </ion-row></ion-grid>

  <!-- Table header -->
  <ion-item class="paddingLeft">
    <div class="row header titleRow">
      <div class="col transparent"></div>
      <div class="col darkGrey option titleRow">0</div>
      <div class="col darkGrey option titleRow">1</div>
      <div class="col darkGrey option titleRow">2</div>
    </div>
  </ion-item>

  <!-- Section category bed -->
  <ion-item>
    <ion-label class="category">Bett
      <ion-icon name="information-circle" (click)="showInfoBed()"></ion-icon>
    </ion-label>
  </ion-item>

  <!-- Question 1 -->
  <ion-list radio-group class="paddingLeft" [(ngModel)]="Bridge" (ionChange)="assessmentResponse.addOrChangeAnswer(0, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">1.</div>
      <div class="col transparent">Brücke
        <ion-icon name="information-circle" (click)="showInfoOne()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>möglich</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Question 2 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="rolOnSide" (ionChange)="assessmentResponse.addOrChangeAnswer(1, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">2.</div>
      <div class="col transparent">Auf die Seite rollen
        <ion-icon name="information-circle" (click)="showInfoTwo()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>möglich</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Question 3 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="toSit" (ionChange)="assessmentResponse.addOrChangeAnswer(2, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">3.</div>
      <div class="col transparent">Vom Liegen zum Sitzen
        <ion-icon name="information-circle" (click)="showInfoThree()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>geringe Unterstützung</ion-label>
          <ion-radio slot="start" value="1.0"></ion-radio>
        </ion-item>
        <ion-item class="transparent">
          <ion-label>Supervision</ion-label>
          <ion-radio slot="start" value="1.1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option">
        <ion-item class="transparent">
          <ion-label>selbstständig</ion-label>
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <!-- Section category chair -->
  <ion-item>
    <ion-label class="category">Stuhl (ohne Gehhilfe, wenn möglich ohne Schuhe und Socken)
      <ion-icon name="information-circle" (click)="showInfoChair()"></ion-icon>
    </ion-label>
  </ion-item>

  <!-- Question 4 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="sitInChair" (ionChange)="assessmentResponse.addOrChangeAnswer(3, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">4.</div>
      <div class="col transparent">Sitzen im Stuhl ohne Unterstützung
        <ion-icon name="information-circle" (click)="showInfoFour()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>10 Sek.</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Question 5 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="standUp" (ionChange)="assessmentResponse.addOrChangeAnswer(4, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">5.</div>
      <div class="col transparent">Aus dem Stuhl aufstehen
        <ion-icon name="information-circle" (click)="showInfoFive()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>geringe Unterstützung</ion-label>
          <ion-radio slot="start" value="1.0"></ion-radio>
        </ion-item>
        <ion-item class="transparent">
          <ion-label>Supervision</ion-label>
          <ion-radio slot="start" value="1.1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option">
        <ion-item class="transparent">
          <ion-label>selbstständig</ion-label>
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <!-- Question 6 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="standUpWithoutArms" (ionChange)="assessmentResponse.addOrChangeAnswer(5, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">6.</div>
      <div class="col transparent">Aus dem Stuhl aufstehen, ohne die Arme zu Hilfe zu nehmen
        <ion-icon name="information-circle" (click)="showInfoSix()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>möglich</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Section category static balance -->
  <ion-item>
    <ion-label class="category">Statisches Gleichgewicht (ohne Gehhilfe, wenn möglich ohne Schuhe und Socken)
      <ion-icon name="information-circle" (click)="showInfoStatic()"></ion-icon>
    </ion-label>
  </ion-item>

  <!-- Question 7 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="standWithoutAid" (ionChange)="assessmentResponse.addOrChangeAnswer(6, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">7.</div>
      <div class="col transparent">Ohne Unterstützung stehen
        <ion-icon name="information-circle" (click)="showInfoSeven()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>10 Sek.</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Question 8 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="standWithClosedFeet" (ionChange)="assessmentResponse.addOrChangeAnswer(7, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">8.</div>
      <div class="col transparent">Stehen mit geschlossenen Füssen
        <ion-icon name="information-circle" (click)="showInfoEight()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>10 Sek.</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Question 9 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="standOnToe" (ionChange)="assessmentResponse.addOrChangeAnswer(8, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">9.</div>
      <div class="col transparent">Auf den Fussspitzen stehen
        <ion-icon name="information-circle" (click)="showInfoNine()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>10 Sek.</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Question 10 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="tandemWithClosedEyes" (ionChange)="assessmentResponse.addOrChangeAnswer(9, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">10.</div>
      <div class="col transparent">Im Tandemstand mit geschlossenen Augen stehen
        <ion-icon name="information-circle" (click)="showInfoTen()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>10 Sek.</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Section category walk -->
  <ion-item>
    <ion-label class="category">Gehen
      <ion-icon name="information-circle" (click)="showInfoWalk()"></ion-icon>
    </ion-label>
  </ion-item>

  <!-- Question 11 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="walkway" (ionChange)="assessmentResponse.addOrChangeAnswer(10, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">11.</div>
      <div class="col transparent">Wegstrecke +/- Gehhilfe
        <ion-icon name="information-circle" (click)="showInfoEleven()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0.0"></ion-radio>
        </ion-item>
        <ion-item class="transparent">
          <ion-label>5 m</ion-label>
          <ion-radio slot="start" value="0.1"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>10 m</ion-label>
          <ion-radio slot="start" value="1.0"></ion-radio>
        </ion-item>
        <ion-item class="transparent">
          <ion-label>20 m</ion-label>
          <ion-radio slot="start" value="1.1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option">
        <ion-item class="transparent">
          <ion-label>50 m</ion-label>
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <!-- Question 12 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="walkAlone" (ionChange)="assessmentResponse.addOrChangeAnswer(11, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">12.</div>
      <div class="col transparent">Selbstständiges Gehen
        <ion-icon name="information-circle" (click)="showInfoTwelve()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0.0"></ion-radio>
        </ion-item>
        <ion-item class="transparent">
          <ion-label>geringe Unterstützung</ion-label>
          <ion-radio slot="start" value="0.1"></ion-radio>
        </ion-item>
        <ion-item class="transparent">
          <ion-label>Supervision</ion-label>
          <ion-radio slot="start" value="0.2"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>selbstständig<br/>mit Gehhilfe</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option">
        <ion-item class="transparent">
          <ion-label>selbstständig<br/>ohne Gehhilfe</ion-label>
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <!-- Section category dynamic balance -->
  <ion-item>
    <ion-label class="category">Dynamisches Gleichgewicht (ohne Gehhilfe, wenn möglich ohne Schuhe und Socken)
      <ion-icon name="information-circle" (click)="showInfoDynamic()"></ion-icon>
    </ion-label>
  </ion-item>

  <!-- Question 13 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="penFromGround" (ionChange)="assessmentResponse.addOrChangeAnswer(12, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">13.</div>
      <div class="col transparent">Stift vom Boden aufheben
        <ion-icon name="information-circle" (click)="showInfoThirteen()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>möglich</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Question 14 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="fourStepsBackward" (ionChange)="assessmentResponse.addOrChangeAnswer(13, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">14.</div>
      <div class="col transparent">Vier Schritte rückwärts gehen
        <ion-icon name="information-circle" (click)="showInfoFourteen()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>möglich</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Question 15 -->
  <ion-list class="paddingLeft" radio-group [(ngModel)]="jump" (ionChange)="assessmentResponse.addOrChangeAnswer(14, $event, true)">
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col transparent number">15.</div>
      <div class="col transparent">Springen
        <ion-icon name="information-circle" (click)="showInfoFiveteen()"></ion-icon>
      </div>
      <div class="col lightGrey option">
        <ion-item class="transparent">
          <ion-label>nicht möglich</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </div>
      <div class="col normalGrey option">
        <ion-item class="transparent">
          <ion-label>möglich</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
      </div>
      <div class="col middleGrey option"></div>
    </div>
  </ion-list>

  <!-- Dropdown for aids with the extension of a textfield for other aids-->
  <ion-list>
    <ion-item class="aid">
      <ion-label class="labelForInput">Hilfsmittel</ion-label>
      <ion-select value="aid" okText="Okay" cancelText="Abbrechen" (cancel)="onCancel()"
                  (ionChange)="assessmentResponse.addOrChangeAnswer(15, $event)" [(ngModel)]="aid">
        <ion-option value="keine" [selected]="true">keine</ion-option>
        <ion-option value="1 Gehstock">1 Gehstock</ion-option>
        <ion-option value="2 Gehstöcke">2 Gehstöcke</ion-option>
        <ion-option value="1 Unterarm-Gehstock">1 Unterarm-Gehstock</ion-option>
        <ion-option value="2 Unterarm-Gehstöcke">2 Unterarm-Gehstöcke</ion-option>
        <ion-option value="Gehbock">Gehbock</ion-option>
        <ion-option value="Rollator">Rollator</ion-option>
        <ion-option value="andere Hilfsmittel">andere</ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="extension" *ngIf="aid=='andere Hilfsmittel'">
      <ion-label class="labelForInput">Welche?</ion-label>
      <ion-input type="text" placeholder="Hier eintragen" (keyup)="assessmentResponse.addOrChangeAnswer(15, $event.target.value)"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Textfield for comments -->
  <ion-item>
    <ion-label class="labelForInput">Bemerkungen</ion-label>
    <ion-input type="text" placeholder="Hier eintragen" (keyup)="assessmentResponse.addOrChangeAnswer(16, $event.target.value)"></ion-input>
  </ion-item>

  <!-- Evaluation button -->
  <button ion-button class="buttonAuswerten" (click)="saveAndNavToEvaluationDemmi()">Auswerten</button>
</ion-content>
