page-form-demmi {
  .titleRow{
    height: 30px;
    padding-top: 3px;
  }
  .category{
    font-weight: bold;
    font-size: large;
  }
  .transparent{
    background-color: transparent;
    color: black;
    font-size: medium;
  }
  .ion-item{
    background-color: transparent;
  }
  img{
    height: 30%;
    width: 30%;
  }
  .darkGrey{
    color: white;
    background-color: #9f9f9f;
    text-align: -webkit-center;
    font-size: medium;
  }
  .lightGrey{
  color: black;
  background-color: #f3f3f3;
  }
  .normalGrey{
  color: black;
  background-color: #e7e7e7;
  }
  .middleGrey{
  color: black;
  background-color: #dbdbdb;
  }
  .ion-label{
  background-color: transparent;
  }
  .button-inner{
  background-color: transparent;
  }
  .number{
    max-width: 3%;
    padding-top: 12px
  }
  .option{
    max-width: 22%;
    text-align: center;
  }
  .aid{
    max-width: 30%;
  }

}
