page-privacy {
  //there is a left padding
  h1, h2, div{
    padding-left: 16px;
  }

  //how the title is shown
  h1{
    font-size: 24px;
  }

  //how the text is written
  .text{
    display: inline-block;
    font-size: 16px;
  }
}
