page-patient-detail {
  //how the title "Bereits durchgeführte Assessments" is written
  .text{
    font-size: 20px;
    padding-left: 16px;
    margin-bottom: 20px;
  }

  //the height of the list (assessments)
  .heightList{
    height: 55px;
  }
}
