<!--navbar of this page-->
<ion-header>
  <navbar [title]="viewPatientName(patient)"[subTitle]="viewPatientInfos(patient)"
          [workflowParameters]="workflowParameters"
          [isSearchVisible]="false"
          popoverType="MorePatientDetailPage">
  </navbar>
</ion-header>

<ion-content padding>
  <!--floating action button for new assessments-->
  <fab-navigation [workflowParameters]="workflowParameters"></fab-navigation>

  <!--shows a list of all existing assessments for this patient-->
   <ion-label class="text bold">Bereits durchgeführte Assessments:</ion-label>
    <ion-list>
      <ion-item *ngFor="let assessment of responses" class="listAssessmentsPatients heightList" (click)="navToEvaluation(assessment)">
        <p class="bold">{{viewAssessmentName(assessment)}}</p>
        <p>{{viewAssessmentInfos(assessment)}}</p>
      </ion-item>
      <ion-item *ngIf="responses.length === 0">{{noAssessmentMessage}}</ion-item>
    </ion-list>
</ion-content>
