// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Kommentar ziegm1: im variables.scss definiert
/*
.toolbar-background{
  background-color: #9ECF66;
  color: #888888;
}
*/

// Kommentar ziegm1: das überdeckt die Beschriftung des Tabs, hast du das so gewollt? darum mal rausgenommen...
/*
.tabs-md .tab-button{
  background-color: #9ECF66;
  color: #888888;
}
*/

//Border of the selected Tab
.tabbar a[aria-selected=true] {
  border-bottom: 4px;
  border-style: solid;
}
