// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//the text is written bold
.bold{
  font-weight: bold;
}
//in the top bar the label is written smaller than the title
.subtitle{
  padding: 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #888888;
}
.ion-md-man:before {
  padding: 0;
}
.ion-md-clipboard:before{
  padding: 0;
}
.imgTitle{
  width: 31px;
  height: 31px;
}
.labelTitle{
  padding-left: 0;
  background-color: #9ECF66;
  color: #888888;
}
.header-md::after{
  height: 0;
}
.ion-md-menu:before{
  width: 20px;
  height: 20px;
  padding: 0px 12px;
  zoom: 1.5;
}
.ion-md-search:before{
  width: 20px;
  height: 20px;
  padding: 0px 12px;
  zoom: 1.5;
}
.ion-md-more:before{
  width: 20px;
  height: 20px;
  padding: 0px 12px 0px 0px;
  zoom: 1.5;
}
.item-md.item-block .item-inner{
  border-bottom: transparent;
}
.toolbar-md{
  padding: 0;
}
.rightSide{
  text-align: right;
}
.label-md{
  margin: 0 0 0 0;
}
.col{
  padding: 0;
}
.itemBar{
  position: absolute;
}
ion-icon::before{
  padding: 12px;
  color: #888888;
}
.toolbar-title-md{
  margin-left: 0;
}

.ion-grid{
  justify-content: left;
}

//Border of the selected Tab
.tabbar a[aria-selected=true] {
  border-bottom: 4px;
  border-style: solid;
}

//how the Assessments are listed in the five categories
.listAssessmentsPatients{
  border-bottom: 1px solid #888888 !important;
}

//size of the alert-message
.alert-message{
  min-height: 450px;
}
.alert-wrapper{
  min-width: 900px;
  min-height: 80%;
  max-height: 100%;
}

.bar-button-md[icon-only] {
  transform: rotate(0deg);
}
.bar-button::after{
  transform: rotate(0deg);
}
