// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//everything has the same text size
ion-label, ion-item, span, button, ul, li{
  font-size: 16px;
}
//the text is written bold
.bold{
  font-weight: bold;
}
//in the top bar the label is written smaller than the title
.subtitle{
  padding: 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #888888;
}
.ion-md-man:before {
  padding: 0;
}
.ion-md-clipboard:before{
  padding: 0;
}
.imgTitle{
  width: 31px;
  height: 31px;
}
.labelTitle{
  padding-left: 0;
  background-color: #9ECF66;
  color: #888888;
}
.header-md::after{
  height: 0;
}
.ion-md-menu:before{
  width: 20px;
  height: 20px;
  padding: 0px 12px;
  zoom: 1.5;
}
.ion-md-search:before{
  width: 20px;
  height: 20px;
  padding: 0px 12px;
  zoom: 1.5;
}
.ion-md-more:before{
  width: 20px;
  height: 20px;
  padding: 0px 12px 0px 0px;
  zoom: 1.5;
}
.item-md.item-block .item-inner{
  border-bottom: transparent;
}
.toolbar-md{
  padding: 0;
}
.rightSide{
  text-align: right;
}
.label-md{
  margin: 0 0 0 0;
}
.col{
  padding: 0;
}
.itemBar{
  position: absolute;
}
ion-icon::before{
  padding: 12px;
  color: #888888;
}
.toolbar-title-md{
  margin-left: 0;
}

.ion-grid{
  justify-content: left;
}

//Border of the selected Tab
.tabbar a[aria-selected=true] {
  border-bottom: 4px;
  border-style: solid;
}
//how the Assessments and Patients are listed
.listAssessmentsPatients{
  border-bottom: 1px solid #888888 !important;
}

.bar-button-md[icon-only] {
  transform: rotate(0deg);
}
.bar-button::after{
  transform: rotate(0deg);
}

//design for evaluation pages
.textSize{
  font-size: 16px;
}
.textLeft{
  padding-left: 10px;
}
.topLeft{
  border-top: solid black;
  border-left: solid black;
}
.downLeft{
  border-top: solid black;
  border-left: solid black;
  border-bottom: solid black;
}
.cell{
  border-top: solid black;
  border-left: solid black;
  text-align: center;
}
.cellDown{
  border-bottom: solid black;
}
.lastCell{
  border-right: solid black;
}
.difference{
  padding-top: 20px;
}
.differenceUnderChart{
  padding-top: 50px;
}
.bar-stable{
  padding-bottom: 10px;
  font-size: 16px;
}
.center{
  text-align: center;
}

//--DEMMI--
//size of the alert message for the instruction - demmi
.instructionDemmi .alert-wrapper{
  min-height:750px !important;
  min-width: 1200px !important;
  max-height: 100% !important;
}
.instructionDemmi .alert-message{
  min-height: 550px !important;
}
//size of the alert message for the normwerte - demmi
.normwerteDemmi .alert-wrapper{
  min-height: 500px !important;
  min-width: 800px !important;
}
.normwerteDemmi .alert-message{
  min-height: 350px !important;
}
//size of the alert message for the material - demmi
.materialDemmi .alert-wrapper{
  min-width: 400px !important;
}
//size of the alert message for the info icons - demmi
.infoIconDemmi .alert-wrapper{
  min-height: 150px !important;
  min-width: 500px !important;
}
.infoIconDemmi .alert-message{
  min-height: 120px !important;
}
//size of the alert message for the detail on evaluation page - demmi
.detailsDemmi .alert-wrapper{
  min-height: 800px !important;
  min-width: 400px !important;
}
.detailsDemmi .alert-message{
  min-height: 650px !important;
}
//--DGI--
   //size of the alert message for the instruction - dgi
 .instructionDgi .alert-wrapper{
   min-width: 450px !important;
 }
//size of the alert message for the normwerte - dgi
.normwerteDgi .alert-wrapper{
  min-width: 500px !important;
}
//size of the alert message for the info icons - dgi
.infoIconDgi .alert-wrapper{
  min-height: 470px !important;
  min-width: 900px !important;
}
.infoIconDgi .alert-message{
  min-height: 320px !important;
}
//size of the alert message for the detail on evaluation page - demmi
.detailsDgi .alert-wrapper{
  min-height: 600px !important;
  min-width: 400px !important;
}
.detailsDgi .alert-message{
  min-height: 470px !important;
}
//--Timed Walking Test--
//size of the alert message for the instruction - timed walking test
.instructionTWT .alert-wrapper{
  min-height: 800px !important;
  min-width: 950px !important;
}
.instructionTWT .alert-message{
  min-height: 650px !important;
}
//size of the alert message for the normwerte - timed walking test
.normwerteTWT .alert-wrapper{
  min-height: 400px !important;
  min-width: 700px !important;
}
.normwerteTWT .alert-message{
  min-height: 270px !important;
}
//size of the alert message for the material - timed walking test
.materialTWT .alert-wrapper{
  min-height: 400px !important;
  min-width: 950px !important;
}
.materialTWT .alert-message{
  min-height: 300px !important;
}
//size of the alert message for the detail on evaluation page - timed walking test
.detailsTWT .alert-wrapper{
  min-height: 400px !important;
  min-width: 500px !important;
}
.detailsTWT .alert-message{
  min-height: 320px !important;
}

//how a link is shown
.link{
  color: blue;
  text-decoration: underline;
  background-color: transparent;
}
