<ion-header>
  <navbar title="Verlauf 10-Meter-Gehtest" subTitle="Timed Walking Test"
          [workflowParameters]="workflowParameters"
          (searchbarVisibilityChange)="onSearchbarVisibilityChange($event)"
          [isSearchVisible]="false">
  </navbar>
</ion-header>

<ion-content padding>
  <ion-grid><ion-row><ion-col class="patient">
  <patient-selector [patient]="patient"></patient-selector>
  </ion-col>
  <!-- Four icons for additional information -->
  <ion-col class="information">
  <ion-item class="ionTop">
    <button (click)="navToEvaluationWalkingtest()" class="additional-information">
      <ion-icon name="trending-up"></ion-icon>
      <span><br>Verlauf</span>
    </button>
    <button (click)="popupInstruction()" class="additional-information">
      <ion-icon name="document"></ion-icon>
      <span><br>Instruktion</span>
    </button>
    <button (click)="popupNormwerte()" class="additional-information">
      <ion-icon name="pie"></ion-icon>
      <span><br>Normwerte</span>
    </button>
    <button (click)="popupMaterial()" class="additional-information">
      <ion-icon name="briefcase"></ion-icon>
      <span><br>Material</span>
    </button>
  </ion-item>
  </ion-col>
  </ion-row></ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ion-grid>
          <!-- Question 1 -->
          <ion-row>
            <ion-col col-5>
              <ion-item>
                <ion-label class="labelForInput">1. Durchführung</ion-label>
                <ion-input type="number" placeholder="1. Zeit" class="secRight"
                           (ionChange)="assessmentResponse.addOrChangeAnswer(0, $event.value, true)" [value]="time1"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-2>
              <ion-item>
                <ion-label>Sekunden</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <button ion-button (click)="timeInInput1()">1. Messung übernehmen</button>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Question 2 -->
          <ion-row>
            <ion-col col-5>
              <ion-item>
                <ion-label class="labelForInput">2. Durchführung</ion-label>
                <ion-input type="number" placeholder="2. Zeit" class="secRight"
                           (ionChange)="assessmentResponse.addOrChangeAnswer(1, $event.value, true)" [value]="time2"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-2>
              <ion-item>
                <ion-label>Sekunden</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <button ion-button (click)="timeInInput2()">2. Messung übernehmen</button>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Question 3 -->
          <ion-row>
            <ion-col col-5>
              <ion-item>
                <ion-label class="labelForInput">3. Durchführung</ion-label>
                <ion-input type="number" placeholder="3. Zeit" class="secRight"
                           (ionChange)="assessmentResponse.addOrChangeAnswer(2, $event.value, true)" [value]="time3"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-2>
              <ion-item>
                <ion-label>Sekunden</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <button ion-button (click)="timeInInput3()">3. Messung übernehmen</button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <!-- Stopwatch -->
        <div class="stopwatch pt-3">
          <h1 text-center class="color-white font-lg">
            {{time}}
          </h1>
          <ion-grid>
            <ion-row text-center class="mt-5">
              <ion-col class="col-12" *ngIf="!running && time == blankTime">
                <button class="circle-button circle-button-bg font-md" ion-button (click)="start()">
                  start
                </button>
              </ion-col>
              <ion-col class="col-12" *ngIf="running">
                <button class="circle-button circle-button-bg circle-button-red font-md" ion-button (click)="stop()">
                  stop
                </button>
              </ion-col>
              <ion-col class="col-12" *ngIf="!running && time !== blankTime">
                <button class="circle-button circle-button-bg font-md" ion-button (click)="reset()">
                  reset
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Dropdown for aids with the extension of a textfield for other aids-->
  <ion-list>
    <ion-item class="aid">
      <ion-label class="labelForInput">Hilfsmittel</ion-label>
      <ion-select value="aid" okText="Okay" cancelText="Abbrechen" (cancel)="onCancel()"
                  (ionChange)="assessmentResponse.addOrChangeAnswer(3, $event)" [(ngModel)]="aid">
        <ion-option value="keine Hilfsmittel" [selected]="true">keine</ion-option>
        <ion-option value="1 Gehstock">1 Gehstock</ion-option>
        <ion-option value="2 Gehstöcke">2 Gehstöcke</ion-option>
        <ion-option value="1 Unterarm-Gehstock">1 Unterarm-Gehstock</ion-option>
        <ion-option value="2 Unterarm-Gehstöcke">2 Unterarm-Gehstöcke</ion-option>
        <ion-option value="Gehbock">Gehbock</ion-option>
        <ion-option value="Rollator">Rollator</ion-option>
        <ion-option value="andere Hilfsmittel">andere</ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="extension" *ngIf="aid=='andere Hilfsmittel'">
      <ion-label class="labelForInput">Welche?</ion-label>
      <ion-input type="text" placeholder="Hier eintragen" (keyup)="assessmentResponse.addOrChangeAnswer(3, $event.target.value)"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Textfield for comments -->
  <ion-item>
    <ion-label class="labelForInput">Bemerkungen</ion-label>
    <ion-input type="text" placeholder="Hier eintragen" (keyup)="assessmentResponse.addOrChangeAnswer(4, $event.target.value)"></ion-input>
  </ion-item>

  <!-- Evaluation button -->
  <button ion-button class="buttonAuswerten" (click)="saveAndNavToEvaluationWalkingtest()">Auswerten</button>
</ion-content>
