<ion-header>
  <ion-navbar>
    <ion-title>Timed Walking Test (10-Meter-Gehtest)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <patient-selector [patient]="patient"></patient-selector>

  <!-- Four icons for additional information -->
  <ion-item>
    <ion-icon name="trending-up" (click)="navToEvaluationWalkingtest()">Verlauf</ion-icon>
    <ion-icon name="document" (click)="popupInstruction()">Instruktion</ion-icon>
    <ion-icon name="pie" (click)="popupNormwerte()">Normwerte</ion-icon>
    <ion-icon name="briefcase" (click)="popupMaterial()">Material</ion-icon>
  </ion-item>

  <!-- Question 1 -->
  <ion-item>
    <ion-label>1. Versuch</ion-label>
    <ion-input type="text" placeholder="Input" name="inputOne" [(ngModel)]="inputOne"></ion-input>
  </ion-item>

  <!-- Question 2 -->
  <ion-item>
    <ion-label>2. Versuch</ion-label>
    <ion-input type="time" id="twt2"></ion-input>
  </ion-item>

  <!-- Question 3 -->
  <ion-item>
    <ion-label>3. Versuch</ion-label>
    <ion-input type="time" id="twt3"></ion-input>
  </ion-item>

  <!-- Stopwatch -->
  <div class="stopwatch pt-3">
    <h1 text-center class="color-white font-lg">
      {{time}}
    </h1>
    <button ion-button (click)="timeInText()">Übernehmen</button>
    <ion-grid>
      <ion-row text-center class="mt-5">
        <ion-col class="col-12" *ngIf="!running && time == blankTime">
          <button class="circle-button circle-button-bg font-md" ion-button (click)="start()">start</button>
        </ion-col>
        <ion-col class="col-12" *ngIf="running">
          <button class="circle-button circle-button-bg circle-button-red font-md" ion-button (click)="stop()">stop
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Dropdown for aids with the extension of a textfield for other aids-->
  <ion-list>
    <ion-item>
      <ion-label>Hilfsmittel</ion-label>
      <ion-select value="aid" okText="Okay" cancelText="Abbrechen" (cancel)="onCancel()"
                  (change)="showExtension($event)"
                  [(ngModel)]="aid">
        <ion-option value="none" [selected]="true">keine</ion-option>
        <ion-option value="oneStick">1 Gehstock</ion-option>
        <ion-option value="twoSticks">2 Gehstöcke</ion-option>
        <ion-option value="oneForearmStick">1 Unterarm-Gehstock</ion-option>
        <ion-option value="twoForearmSticks">2 Unterarm-Gehstöcke</ion-option>
        <ion-option value="walker">Gehbock</ion-option>
        <ion-option value="rollator">Rollator</ion-option>
        <ion-option value="other">andere</ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="extension" *ngIf="aid=='other'">
      <ion-label>Welche?</ion-label>
      <ion-input type="text" id="twt4"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Textfield for comments -->
  <ion-item>
    <ion-label>Bemerkungen</ion-label>
    <ion-input type="text" id="twt5"></ion-input>
  </ion-item>

  <!-- Evaluation button -->
  <button ion-button (click)="navToEvaluationWalkingtest()">Auswerten</button>
</ion-content>
