page-form-walkingtest {
  //-----------STOPWATCH------------
  //letter spacing from seconds (stopwatch)
  h1{
    letter-spacing: 0.035em
  }
  //size of whole stopwatch
  .stopwatch{
    min-height: 10vh;
    max-width: 50%;
  }
  //how the result (stopwatch) is shown
  .result{
    color: black;
    height: 50vh;
    overflow-y: scroll;
  }
  //how the button of the stopwatch is shown
  .circle-button{
    border-radius: 70%;
    height: 150px;
    width: 150px;
    background-color: #e7e7e7;
    border: 1px #888888;
    box-shadow: inset 0 0 0 7px #9ECF66;
    color: black;
  }
  //when the stopwatch is running (to click stop)
  .circle-button-red{
    box-shadow: inset 0 0 0 7px #FF6666;
  }
  //size of stopwatch - circle
  .circle-button-bg{
    height: 175px;
    width: 175px;
  }

  //input label for time
  .secRight{
    text-align: end;
    align-items: end;
  }

  //Dropdown & Comments
  .aid{
    padding-top: 50px;
  }
  .InputBottom{
    max-width: 15%;
  }
  .dropdownLabel{
    max-width: 30%;
  }

  //text input without margin
  .text-input-md{
    margin: 0;
  }

}
