<ion-navbar [hideBackButton]="hideBackbutton">
  <button *ngIf="isMenuVisible" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{ title }}</ion-title>
  <ion-label class="subtitle">{{ subTitle}}</ion-label>
  <ion-buttons end>
    <button ion-button icon-only (click)="toggleSearchbarVisibility()" *ngIf="isSearchVisible === true">
      <ion-icon name="search"></ion-icon>
    </button>
    <button ion-button icon-only (click)="navToHome()">
      <ion-icon name="home"></ion-icon>
    </button>
    <button ion-button icon-only (click)="openModal($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
