search-assessment {
  //how the name of the assessment is shown with width
  .nameAssessment{
    width: 90%;
    padding-top: 12px;
  }

  //how the document-icon is shown with width
  .iconDocument{
    text-align: right;
    width: 10%;
  }
}
