page-home {
  //so it is not possible to scroll the page
  .scroll-content {
    overflow-y: hidden;
  }

  //the buttons are on the right place in the circle
  button {
    background-color: transparent;
    justify-content: center;
    margin-left: 30%;
    text-transform: none;
    direction: ltr;
    transform: rotate(18deg);
    padding-top: 7%;
    font-size: 16px;
  }

  //the image in the middle has the right size and position
  img {
    max-width: 70%;
    border: 0;
    margin-left: 15%;
    margin-top: 10%;
  }

  /**
 * Circular menu v2
 */
  //that no menu is shown
  .menuopt {
    display: none;
  }

  //that the circle and every sclice is round
  .circle, .circle:before, .circle:after {
    border-radius: 50%;
  }

  //size of the circle
  nav {
    margin: 2em auto;
    min-width: 16em; width: 55%; max-width: 60em;
  }

  //how the slices are shown
  nav ul {
    position: relative;
    padding: 50%;
    max-width: 0; max-height: 0;
    box-shadow: 0 0 .5em rgba(0,0,0,.5);
    list-style: none;
    background: white;
  }

  //position of the white circle
  nav li {
    position: absolute;
    transition: 2s;
  }

  //size and position of the slice
  .slice {
    overflow: hidden;
    position: absolute;
    top: 0; left: 0;
    width: 50%; height: 50%;
    transform-origin: 100% 100%;
  }

  //size and position of the logo within the white circle
  .unsel {
    top: 34%; left: 34%;
    width: 32%; height: 32%;
    box-shadow: 0 0 .75em;
    background-color: white;
  }

  //position with rotation of the geriatry slice
  .geriatry {
    transform: rotate(341deg)skewX(17deg);
  }
  //position with rotation of the neurology slice
  .neurology {
    transform: rotate(53deg) skewX(17deg);
  }
  //position with rotation of the cardiology slice
  .cardiology {
    transform: rotate(125deg) skewX(17deg);
  }
  //position with rotation of the others slice
  .others {
    transform: rotate(197deg) skewX(17deg);
  }
  //position with rotation of the muscolosceletal slice
  .muscolosceletal {
    transform: rotate(269deg) skewX(17deg);
  }

  //size and position of the labels
  .slice label {
    display: block;
    width: 200%; height: 200%;
    transform: skew(-17deg) rotate(-72deg);
    box-shadow: 0 0 .1em black;
    color: transparent;
    font-size: .8em;
    line-height: 1.9;
    text-align: center;
    align-items: center;
    text-decoration: none;
    transition: 1s;
  }

  //size and position of the pictures
  .slice label:before {
    position: absolute;
    top: 10%; left: 10%;
    width: 80%; height: 80%;
    border-radius: 50%;
    box-shadow: 0 0 1em rgba(0,0,0,.5);
    background-position: 80% 0;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    content: '';
  }

  //background color of the geriatry and others label
  .geriatry label, .geri:checked ~ nav .unsel,
  .others label, .ot:checked ~ nav .unsel{
    background: #a7d375;
  }
  //background color of the neurology label
  .neurology label, .neuro:checked ~ nav .unsel {
    background: #9ECF66;
  }
  //background color of the cardiology and muscolosceletal label
  .cardiology label, .cardio:checked ~ nav .unsel,
  .muscolosceletal label, .musco:checked ~ nav .unsel{
    background: #b1d884;
  }

  //picture of the geriatry label
  .geriatry label:before {
    background-image: url(../../../assets/imgs/Geriatrics.jpg);
  }
  //picture of the neurology label
  .neurology label:before {
    background-image: url(../../../assets/imgs/Neurology.jpg);
  }
  //picture of the cardiology label
  .cardiology label:before {
    background-image: url(../../../assets/imgs/Cardiology.jpg);
  }
  //picture of the others label
  .others label:before {
    background-image: url(../../../assets/imgs/Others.jpg);
  }
  //picture of the muscolosceletal label
  .muscolosceletal label:before {
    background-image: url(../../../assets/imgs/Muscolosceletal.jpg);
  }

  //the font color for the fields is written in grey
  .buttonColor{
   color: #7a7a7a;
  }
}
