page-impressum {
  h1, h2, div{
    padding-left: 16px;
  }

  h1{
    font-size: 24px;
  }
  h2{
    font-size: 16px;
    font-weight: bold;
  }
  .text{
    display: inline-block;
    //word-break: break-all;
    //word-wrap: break-word;
    //overflow-wrap: break-word;
    font-size: 16px;
  }
  .break{
    padding-top: 10px;
  }
  .linkWithinApp{
    text-decoration: underline;
    background-color: transparent;
    padding: 0;
  }

}
