page-impressum {
  //everywhere there is a left padding
  h1, h2, div{
    padding-left: 16px;
  }

  //size of the font from the topic titles
  h1{
    font-size: 24px;
  }

  //how the text is shown
  .text{
    display: inline-block;
    font-size: 16px;
  }

  //how the link within the app is shown
  .linkWithinApp{
    text-decoration: underline;
    background-color: transparent;
    padding: 0;
  }
}
