<ion-header>
  <navbar title="Stationsübersicht"
          [workflowParameters]="workflowParameters"
          (searchbarVisibilityChange)="onSearchbarVisibilityChange($event)"
          popoverType="MoreAZPage"></navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar *ngIf="isSearchbarVisible" placeholder="Station suchen" (ionInput)="getStations($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let ward of results" (click)="navToWard(ward)" class="listAssessmentsPatients">{{ward}}</ion-item>
  </ion-list>
</ion-content>
