page-evaluation-dgi {
  .patient {
    color: #888888;
    font-size: 24px;
    padding: 12px 0 24px 16px;
  }
  p{
    margin: 0;
  }


  .score {
    max-width: 40%;
  }
  .nr {
    max-width: 15%;
  }
  .green {
    background-color: #99cc99;
  }
}
