page-evaluation-dgi {
  .patInfos{
    max-width: 100%;
  }
  .information{
    max-width: 17%;
  }

  .iconButton{
    zoom: 2;
    padding: 0 0 0 40%;
    margin: 0;
    align-items: center;
    text-align: center;
  }
  .ion-md-open:before{
    padding: 0;
  }
  .labelButton{
    padding: 10px 0 0 0;
    margin: 0;
    text-align: center;
  }

  .patient {
    color: #888888;
    font-size: 24px;
    padding: 12px 0 24px 16px;
  }
  p{
    margin: 0;
  }

  .infosTopBottom{
    padding-left: 16px !important;
  }
  .infoTop{
    min-height: 25px;
  }
  .break{
    margin-top: 15px;
  }
  .beforeChart{
    margin-bottom: 15px;
  }
  .score {
    max-width: 50%;
  }
  .topText{
    max-width: 20.5%;
  }
  .nr {
    max-width: 15%;
  }
  .infos{
    max-width: 79.5%;
  }
  .green {
    background-color: #99cc99;
  }
  .normColor1{
    background-color: #dbdbdb;
  }
  .normColor2{
    background-color: #e7e7e7;
  }
  .normColor3 {
    background-color: #f3f3f3;
  }

  .scoreText {
    max-width: 50%;
  }
  .points{
    max-width: 40%;
  }
  .value{
    max-width: 10%;
  }
}
