page-evaluation-dgi {
  .patInfos{
    max-width: 85%;
  }
  .information{
    max-width: 15%;
  }

  .iconButton{
    zoom: 2;
    padding: 0 0 0 45%;
    margin: 0;
    align-items: center;
    text-align: center;
  }
  .ion-md-open:before{
    padding: 0;
  }
  .labelButton{
    padding: 10px 0 0 0;
    margin: 0;
    text-align: center;
  }

  .patient {
    color: #888888;
    font-size: 24px;
    padding: 12px 0 24px 16px;
  }
  p{
    margin: 0;
  }

  .infosTopBottom{
    padding-left: 16px !important;
  }
  .infoTop{
    min-height: 25px;
  }
  .break{
    margin-top: 15px;
  }
  .beforeChart{
    margin-bottom: 15px;
  }
  .score {
    max-width: 40%;
  }
  .topText{
    max-width: 16.7%;
  }
  .nr {
    max-width: 15%;
  }
  .infos{
    max-width: 83.3%;
  }
  .green {
    background-color: #99cc99;
  }

  .scoreText {
    max-width: 50%;
  }
  .points{
    max-width: 40%;
  }
  .value{
    max-width: 10%;
  }
}
