page-form-dgi {
  //there is a left padding
  .paddingLeft{
    padding-left: 16px;
  }

  //-------TABLE--------
  //table header of the table
  .titleRow{
    margin-top: 50px;
    height: 70px;
  }
  //table header in dark grey
  .darkGrey{
    color: white;
    background-color: #9f9f9f;
    text-align: -webkit-center;
    font-size: medium;
  }
  //number of the task in table
  .number{
    max-width: 2%;
    padding-top: 15px
  }
  //text of the task in table
  .text{
    max-width: 50%;
    padding-top: 8px;
  }
  //field of radio button in table
  .option{
    max-width: 12%;
    text-align: center;
    padding-top: 3px;
  }
  //for zero points
  .greyZero{
    background-color: #f3f3f3;
    padding-right: 20px;
  }
  //for one point
  .greyOne{
    color: black;
    background-color: #e7e7e7;
    padding-right: 20px;
  }
  //for two points
  .greyTwo{
    color: black;
    background-color: #dbdbdb;
    padding-right: 20px;
  }
  //for three points
  .greyThree{
    color: black;
    background-color: #cfcfcf;
    padding-right: 20px;
  }

  //size and position of the information icon
  .ion-md-information-circle:before {
    zoom: 1;
    padding: 5px;
    text-align: center;
  }
  //position of the top icons
  .container-side-menu {
    width: 10%;
    top: 15%;
    right: 15px;
    position: absolute;
    margin: auto;
  }

//Dropdown & Bemerkungen
  .aid{
    padding-top: 50px;
  }
  .labelForInput{
    max-width: 15%;
  }
  .dropdownLabel{
    max-width: 30%;
  }

  //text input without margin
  .text-input-md{
    margin: 0;
  }

  //table cells without padding
  .item-md.item-block .item-inner{
    padding-right: 0;
  }
}
