page-form-dgi {
  //patient and icons for additional information in the same row
  .patient{
    max-width: 55%;
  }
  .information{
    max-width: 45%;
  }
  //icons for additional information in the assessments-forms
  .additional-information{
    background-color: transparent;
  }
  .ion-md-trending-up:before,
  .ion-md-document:before,
  .ion-md-pie:before,
  .ion-md-briefcase:before{
    zoom: 2;
    padding-bottom: 5px;
  }
  .ionTop{
    text-align: right;
  }
  //title row of the table
  .titleRow{
    margin-top: 50px;
    height: 70px;
  }

  .paddingLeft{
    padding-left: 16px;
  }

  .number{
    max-width: 2%;
    padding-top: 15px
  }
  .text{
    max-width: 70%;
    padding-top: 8px;
  }
  .option{
    max-width: 12%;
    text-align: center;
    padding-top: 3px;
  }
  .rad{
    position: center;
  }

  .row{
    border-bottom: black;
  }
  .darkGrey{
    color: white;
    background-color: #9f9f9f;
    text-align: -webkit-center;
    font-size: medium;
  }
  .greyZero{
    //color: black;
    background-color: #f3f3f3;
    padding-right: 20px;
  }
  .greyOne{
    color: black;
    background-color: #e7e7e7;
    padding-right: 20px;
  }
  .greyTwo{
    color: black;
    background-color: #dbdbdb;
    padding-right: 20px;
  }
  .greyThree{
    color: black;
    background-color: #cfcfcf;
    padding-right: 20px;
  }
  .ion-label{
    background-color: transparent;
  }
  .icon-inner, svg {
    display: block;
    fill: currentColor;
    stroke: currentColor;
    height: 100%;
    width: 100%;
  }
  //size and position of the information icon
  .ion-md-information-circle:before {
    zoom: 1;
    padding: 5px;
    text-align: center;
  }
  //position of the top icons
  .container-side-menu {
    width: 10%;
    top: 15%;
    right: 15px;
    position: absolute;
    margin: auto;
  }
  .container-side-menu .button {
    font-size: 10px;
    line-height: 10px; // Add
  }
  .container-side-menu .button-icon .icon {
    display: block;
    font-size: 30px;
    margin-bottom: 3px !important;
  }

//Dropdown & Bemerkungen
  .aid{
    padding-top: 50px;
  }
  .labelForInput{
    max-width: 15%;
  }
  .dropdownLabel{
    max-width: 30%;
  }

  //text input without margin
  .text-input-md{
    margin: 0;
  }

  .item-md.item-block .item-inner{
    padding-right: 0;
  }

}
