<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col><ion-item class="labelTitle">
            Kardiologie/Pneumologie
          </ion-item></ion-col>
          <ion-col class="iconBar"><ion-item class="labelTitle rightSide">
            <ion-icon name="search" class="iconSize"></ion-icon>
            <img class="imgTitle" src="./assets/imgs/Logo_fit4PAT_man-grey.svg" (click)="navToAssessmentTab()"/>
            <ion-icon name="more"></ion-icon>
          </ion-item></ion-col></ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>
