page-evaluation-demmi {
  .item-md{
    padding-left: 0;
  }
  .item-md.item-block .item-inner{
    padding-right: 0;
  }
  .score{
    max-width: 30%;
  }
  .nr{
    max-width: 15%;
  }
  .rohwert{
    border-top: solid black;
    border-left: solid black;
  }
  .demmi{
    border-top: solid black;
    border-left: solid black;
    border-bottom: solid black;
  }
  .red{
    background-color: #ff9999;
    border-top: solid black;
    border-left: solid black;
    text-align: center;
  }
  .orange{
    background-color: #ffdb99;
    border-top: solid black;
    border-left: solid black;
    text-align: center;
  }
  .yellow{
    background-color: #ffff99;
    border-top: solid black;
    border-left: solid black;
    text-align: center;
  }
  .green{
    background-color: #99cc99;
    border-top: solid black;
    border-left: solid black;
    text-align: center;
  }
  .down{
    border-bottom: solid black;
  }
  .last{
    border-right: solid black;
  }
  .bar-stable{
    padding-bottom: 10px;
  }
  .bordr{
    border-top: solid black;
    border-left: solid black;
    text-align: center;
  }

}
