page-evaluation-walkingtest {
  .patient {
    color: #888888;
    font-size: 24px;
    padding: 12px 0 24px 16px;
  }
  p{
    margin: 0;
  }


  .score{
    max-width: 40%;
  }
  .infosTopBottom{
    padding-left: 16px !important;
  }
  .infoTop{
    min-height: 25px;
  }
  .break{
    margin-top: 15px;
  }
  .beforeChart{
    margin-bottom: 15px;
  }

  .transparent{
    background-color: transparent;
    font-size: 16px;
  }
  .normColor1{
    background-color: #dbdbdb;
  }
  .normColor2{
    background-color: #e7e7e7;
  }
  .normColor3{
    background-color: #f3f3f3;
  }
  .red{
    background-color: #ff9999;
  }
  .blue{
    background-color: #9999ff;
  }

  .orangeActive {
    background-color: #ffc04c;
  }
}
